* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fff5d2;
    

}

.main-logo {
    width: 200px;
}

.form-container {
    width: 500px;
    height: auto;
}

.form-bg {
    background-color: white;
}

html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}